@charset 'UTF-8';

@import
    'abstracts/variables';

// load vendor files directly from
// node_modules if possible
@import '~normalize.css';

@import
    'base/base',
    'base/typography',
    'base/layout',
    'base/font-blackjack',
    'base/helpers';

@import
    'components/info',
    'components/hand',
    'components/card',
    'components/card-animations',
    'components/controls';
