html {
    overflow: hidden;
}

html,
body,
#root,
.app {
    width:100%;
    height:100%;
    min-width: 320px;
}

.app {
    display: flex;
    flex-direction: column;
    header {
        flex: 0 0 auto;
    }
    > section {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row-reverse;
        .hand {
            flex: 1 0 50%;
            display: flex;
            flex-direction: column;
        }
    }
    footer {
        flex: 0 0 auto;
    }
}


@media #{$tablet-down} and (min-height: 580px) {
    .app > section {
        flex-direction: column;
    }
}

