body {
    // allow space for the info component
    padding-top: 100px;
}

// push hand a bit so the card
// placement looks more random
// between two hands
.app .hand {
    .cards {
        margin-left: 30px;
    }
    + .hand .cards {
        margin-left: 60px;
    }
}
