body {
    // allow space for the info component
    padding-top: 100px;
}

// todo: flexbox layout:
// header
//     Info
// section[role="main"]
//      Hand
//      Hand
// footer
//      nav
//          Controls


