.hand {
    padding-top: 50px;
    padding-bottom: 50px;
    position:relative;
    .cards {
        // needed for react animations
        // as it wraps animating elements
        // in a span
        > span {
            display: flex;
            justify-content: center;
            align-content: center;
            align-self: auto;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    // push hand a bit so the card
    // placement looks more random
    // between two hands
    .cards {
        margin-left: 30px;
    }
    + .hand .cards {
        margin-left: 60px;
    }
    .score {
        text-align: center;
        position:absolute;
        width:100%;
        top:0;
        .score-value {
            display:inline-block;
            background: #fff;
            width:40px;
            line-height: 36px;
            font-size: 16px;
            height:40px;
            border: 2px solid $primary-color;

            border-radius: 40px;
            color: $primary-color;
            font-weight: bold;

            &.pop-enter {
                transform: translate3d(0, 50px, 0) rotate(180deg) scale(0.01);
                &.pop-enter-active {
                    transition: transform $score-enter-duration $bezier $score-enter-delay;
                    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
                }
            }
            &.pop-leave {
                opacity:1;
                &.pop-leave-active {
                    transition: opacity $score-leave-duration;
                    opacity: 0;
                }
            }
        }
    }
}
