.hand {
    padding-top: 50px;
    padding-bottom: 50px;
    position:relative;
    .cards {
        // needed for react animations
        // as it wraps animating elements
        // in a span
        > span {
            display: flex;
            justify-content: center;
            align-content: center;
            align-self: auto;
            flex-wrap: nowrap;
            align-items: center;
        }

        // randomize
        .card {
            flex: 0 1 auto;
            // overlap cards
            margin-left:-70px;
            // guarantees some randomness
            // in positioning
            &:nth-child(odd) {
                transform: rotate(-2deg);
            }
            &:nth-child(even) {
                transform: rotate(2deg);
            }
            &.H {
                transform: rotate(-1deg);
            }
            &.C {
                transform: rotate(1deg);
            }
        }

        // animations for adding/removing cards
        .card {
            transition: 0.2s $card-deal-bezier;
            &.list-enter {
                transform: translate3d(100vw, -100vh, 0);
            }
            &.list-leave.list-leave-active {
                transform: translate3d(0, -100vh, 0);
            }
            &.list-enter.list-enter-active,
            &.list-leave  {
                transform: translate3d(0, 0, 0);
            }
        }
    }
    // push hand a bit so the card
    // placement looks more random
    // between two hands
    .cards {
        margin-left: 30px;
    }
    + .hand .cards {
        margin-left: 60px;
    }
    .score {
        text-align: center;
        position:absolute;
        width:100%;
        top:0;
        .score-value {
            display:inline-block;
            background: #fff;
            width:40px;
            line-height: 36px;
            font-size: 16px;
            height:40px;
            border: 2px solid $primary-color;

            border-radius: 40px;
            color: $primary-color;
            font-weight: bold;
        }
    }
}
