.info {
    position:absolute;
    top:0;left:0;right:0;
    width:100%;
    height:100px;
    .win-percentage {
        position:absolute;
        top:0;right:0;
        padding: 8px;
        // width: 0px;
        text-align: center;
        font-size: 16px;
        strong {
            display:block;
            font-size: 20px;
        }
    }
    .outcome {
        text-align: center;
        line-height: 100px;
        font-size: 40px;
    }
}
